{% load static %}

<section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">

                    {% for book in books %}
                    <div class="col-lg-3">
                        <div class="featured__item__pic set-bg" data-setbg="{% static  'book_photos/book_photos/photo.image.url' %}">
                            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                            <h5><a href="{% url 'detail' book_id=book.id %}">{{ book.title }}</a> Подробнее </h5>
                        </div>
                    </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>


